[*]
charset = utf-8-bom
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_keep_blank_lines_in_declarations = 1
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_between_query_expression_clauses = false
csharp_preferred_modifier_order = public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async: suggestion
csharp_style_var_elsewhere = true: suggestion
csharp_style_var_for_built_in_types = true: suggestion
csharp_style_var_when_type_is_apparent = true: suggestion
csharp_using_directive_placement = inside_namespace: silent
dotnet_diagnostic.cs0162.severity = error
dotnet_diagnostic.cs1957.severity = error
dotnet_diagnostic.rcs1036.severity = warning
dotnet_diagnostic.scs0012.severity = error
dotnet_diagnostic.scs0015.severity = warning
dotnet_diagnostic.scs0029.severity = error
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = none
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = none
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = none
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static, readonly
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary: none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary: none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary: none
dotnet_style_predefined_type_for_locals_parameters_members = true: suggestion
dotnet_style_predefined_type_for_member_access = true: suggestion
dotnet_style_qualification_for_event = false: suggestion
dotnet_style_qualification_for_field = false: suggestion
dotnet_style_qualification_for_method = false: suggestion
dotnet_style_qualification_for_property = false: suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members: suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_parameter = true
resharper_align_multiple_declaration = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_align_tuple_components = true
resharper_apply_auto_detected_rules = false
resharper_apply_on_completion = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 2
resharper_blank_lines_around_single_line_auto_property = 1
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_cpp_max_line_length = 200
resharper_csharp_align_first_arg_by_paren = true
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 200
resharper_csharp_naming_rule.enum_member = AaBb_AaBb
resharper_csharp_stick_comment = false
resharper_csharp_use_indent_from_previous_element = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_lines = false
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_fsharp_max_line_length = 200
resharper_html_insert_final_newline = true
resharper_html_max_line_length = 200
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_block_arrangement = true
resharper_keep_existing_expr_member_arrangement = false
resharper_local_function_body = expression_body
resharper_max_formal_parameters_on_line = 5
resharper_max_initializer_elements_on_line = 10
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_with_attrs_holder_on_single_line = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_initializer_on_single_line = false
resharper_qualified_using_at_nested_scope = true
resharper_resx_max_line_length = 200
resharper_shaderlab_max_line_length = 200
resharper_t4_max_line_length = 200
resharper_use_continuous_indent_inside_parens = false
resharper_use_indent_from_vs = false
resharper_vb_max_line_length = 180
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_xmldoc_indent_child_elements = RemoveIndent
resharper_xmldoc_indent_text = RemoveIndent
resharper_xmldoc_max_line_length = 180
resharper_xmldoc_space_before_self_closing = false
resharper_xml_insert_final_newline = true
resharper_xml_max_line_length = 180

# ReSharper inspection severities
resharper_access_to_disposed_closure_highlighting = suggestion
resharper_arrange_accessor_owner_body_highlighting = none
resharper_arrange_attributes_highlighting = hint
resharper_arrange_constructor_or_destructor_body_highlighting = hint
resharper_arrange_local_function_body_highlighting = hint
resharper_arrange_method_or_operator_body_highlighting = hint
resharper_arrange_modifiers_order_highlighting = hint
resharper_arrange_object_creation_when_type_evident_highlighting = none
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_auto_property_can_be_made_get_only_global_highlighting = none
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_class_never_instantiated_global_highlighting = none
resharper_class_never_instantiated_local_highlighting = none
resharper_collection_never_updated_global_highlighting = none
resharper_conditional_ternary_equal_branch_highlighting = error
resharper_constant_null_coalescing_condition_highlighting = suggestion
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = none
resharper_convert_if_statement_to_return_statement_highlighting = none
resharper_empty_constructor_highlighting = error
resharper_enforce_do_while_statement_braces_highlighting = warning
resharper_enforce_fixed_statement_braces_highlighting = warning
resharper_enforce_foreach_statement_braces_highlighting = warning
resharper_enforce_for_statement_braces_highlighting = warning
resharper_enforce_if_statement_braces_highlighting = warning
resharper_enforce_lock_statement_braces_highlighting = warning
resharper_enforce_using_statement_braces_highlighting = warning
resharper_enforce_while_statement_braces_highlighting = warning
resharper_function_never_returns_highlighting = error
resharper_function_recursive_on_all_paths_highlighting = error
resharper_inconsistent_naming_highlighting = none
resharper_invert_if_highlighting = none
resharper_join_null_check_with_usage_when_possible_highlighting = warning
resharper_localizable_element_highlighting = none
resharper_log_message_is_sentence_problem_highlighting = none
resharper_loop_can_be_partly_converted_to_query_highlighting = hint
resharper_member_can_be_made_static_global_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_member_can_be_private_local_highlighting = none
resharper_member_can_be_protected_global_highlighting = none
resharper_member_can_be_protected_local_highlighting = none
resharper_merge_conditional_expression_when_possible_highlighting = warning
resharper_merge_sequential_checks_when_possible_highlighting = warning
resharper_non_readonly_member_in_get_hash_code_highlighting = hint
resharper_not_resolved_in_text_highlighting = hint
resharper_parameter_only_used_for_precondition_check_global_highlighting = none
resharper_parameter_only_used_for_precondition_check_local_highlighting = none
resharper_redundant_base_constructor_call_highlighting = error
resharper_redundant_base_qualifier_highlighting = warning
resharper_redundant_type_arguments_of_method_highlighting = suggestion
resharper_return_type_can_be_enumerable_global_highlighting = none
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting = suggestion
resharper_specify_string_comparison_highlighting = none
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_switch_expression_handles_some_known_enum_values_with_exception_in_default_highlighting = none
resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting = none
resharper_template_is_not_compile_time_constant_problem_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_auto_property_accessor_local_highlighting = hint
resharper_unused_member_global_highlighting = none
resharper_unused_member_in_super_global_highlighting = none
resharper_unused_method_return_value_global_highlighting = none
resharper_unused_parameter_global_highlighting = warning
resharper_unused_type_global_highlighting = none
resharper_use_null_propagation_when_possible_highlighting = warning
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_unused_add_tag_highlighting = error
resharper_web_config_web_config_path_warning_highlighting = suggestion
resharper_web_config_wrong_module_highlighting = warning

[{*.har,*.inputactions,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_style = space
indent_size = 2

[{*.androidproj,*.ccproj,*.csproj,*.props,*.targets}]
indent_style = space
indent_size = 2

[{*.ats,*.cts,*.mts,*.ts}]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,fs,fsi,fsscript,fsx,hlsl,hlsli,hlslinc,master,ml,mli,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
